.stats {
  width: 360px;
  height: 145px;
  padding: 0 15px 0 15px;
}

.stats__title {
  color: #1e73be;
  font-size: 3.1em;
  font-weight: 800;
  font-family: serif, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.stats__text {
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
